<h1><%= @thisUser %>'s Deals</h1>
<% @thisProducts.each do |t| %>
	<% if @now > t.expiration  %>
		<% expirationStatus = "Expired" %>
	<% else %>
		<% expirationStatus = "Active" %>
	<% end %>
	<h3><%= link_to t.title, myproduct_path(t.id) %> - Current Status: <%= expirationStatus %></h3>

<% end %>