/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.signup_button {
	width: 200px;
	background-color: white;
	/*outline: none;*/
}


/*  Vendors Show Page  */
.Expired {
	color: white;
	background-color: red;
}

.Active {
	color: white;
	background-color: green;
}

/* Business Account Page */

html {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	/*background-color: #AADDD4;*/
	/*background-color: #054586;*/
	background-color: #75C8EA;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

html a:visited {
	color: blue;
}

h1 {
	font-size: 275%;
	clear: both;
	/*color: #EB593B;*/
	/*text-decoration: underline; */
}

.noDeals {
	color: #EB593B;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background-color: white;
}

.navbar_logo {
	height: 100px;
}

/*  Side Navbar  */
/*.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 190px;
	height: 100%;
	background-color: #EB593B;
}*/

.navbar ul li {
	float: left;
	padding-left: 10px;
	padding-right: 12px;
	padding-top: 26px;
	font-size: 115%;
}

.navbar ul {
	list-style-type: none;
	float: right;
}

.navbar ul li a {
	text-decoration: none;
	color: #75C8EA;
}

.navbar ul li a:hover {
	color: #75C8EA;
}

.login-link li a {
	color: #75C8EA;
}

.login-link li a:visited {
	color: #75C8EA;
}

.yield {
	margin-top: 75px;
	margin-left: 10px;
}

/* Vendor Login Page */
.h1_login {
	text-align: center;
	padding-top: 20px;
}

/* Vendor Show Page */
.vendors_show_wrapper {
	padding-top: 3%;
}


/* Myproducts - New Page */

.deal_start {
	text-align: left;
}

.product_desc {
	width: 500px;
	height: 200px;
	font-size: 1.2em;
}



/*Preferences Page Vendor*/
.pref_wrapper {
	padding-top: 100px;
}







